.option-wrap {
    display: block;
    width: 100%;
    padding: 13px 15px 13px;
    line-height: 1;
    font-size: 14px;
    color: #212121;
    font-weight: 400;
    text-transform: capitalize;
    color: #808080;
    outline: none;
    border: 1px solid #e8e8e8;
    margin: 0;
    cursor: pointer;
}
.option {
    background-color: transparent;
    cursor: pointer;
    font-size: inherit;
    padding: 5px 10px;
    outline: none;
}
